html
    head
        title Book Management
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet", href="/static/cs/csss.css") 
    body 
        h2 Book Management
        a(href="/create-book", class="btn-create") + Create Book
        .book-container
            each book in books
                .book-card
                    img.book-avatar(src=`${book.avatar}`, alt="book image")
                    .book-info
                        h3.book-title= book.title
                        .book-price
                          
                            span.price= `${book.price}đ`
                            span.original-price= `${book.originalPrice}đ`
                            br
                            button 
                                <i class="fa-solid fa-cart-shopping"></i>
                        a(href=`/update-book/${book._id}`, class="btn-action btn-update") Update
                        br
                        br
                        a(href=`/book/${book._id}`, class="btn-action btn-delete") Delete

